html {
    width : 800px;
    height : 800px;

    background : #e2ddc7;
    body {
        font-family : '微软雅黑';

        display : flex;

        border-radius : 5px;
        i{
        	display: inline-block;
        }
    }
}
